*{
    box-sizing: border-box;
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    position: absolute;
    top: 15%;
    left: 15%;
    width: calc(100% - 30%);
    height: calc(100% - 30%);
    background-color: rgb(224, 223, 223);
    padding: 6% 7%;
    margin: 0% 15% 15% 0%;
    display: flex;
    flex-direction: column;
}

.header{
    color: rgb(11 162 32);
}

#task{
    width: 100%;
    height: 13%;
    border: none;
}

#task:focus{
    outline: rgb(9, 214, 37) solid 3px;
    color: rgb(78, 78, 78);
}

.taskcontainer{
    overflow-x: hidden;
    overflow-y: scroll;
}

li{
    background-color: rgb(248 248 248);
    margin: 7px 3px;
    padding: 4px;
    list-style-type: none;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}

button{
    padding: 9px 0;
    background-color: rgb(38, 177, 38);
    color: white;
    border: none;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}